* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    list-style: none;
}

body{
    height: 100%;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
    font-size: 24px;
    overflow-x: hidden;
    scroll-behavior:smooth;
}

/* scrolling between home, about, services - start */

html{
    scroll-behavior:smooth; 
} 

#input-section,#about,#services{
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
}

.main-section{
    height: 100%;
}

/* scrolling between home, about, services - end */


/* login signup link work on click - start */

nav{
    background-color: rgb(0, 0, 0);
    width:100%;
    color: white;
    display: flex;
    position: fixed; /* Fix the navbar at the top */
    top: 0; /* Align it at the top of the page */
    left: 0; /* Align it to the left edge */
    width: 100%; /* Make it span the full width of the page */
    background-color: rgb(0, 0, 0); /* Background color */
    color: white; /* Text color */
    padding: 15px; /* Padding around the content */
    z-index: 1000; /* Ensure it stays above other content */
}

#check{
    display: none;
}

#check:checked ~ ul{
    left: 10px;
}

.list-icon{
    display: block;
    font-size: 25px;
    float: left;
    margin-left: 2vh;
    margin-top: 2vh;
    cursor: pointer;
}

a:hover,a.active{
    background: none;
    color: rgb(188, 110, 110);
    transition: .3s; 
}

ul{
    position: fixed;
    width: 20%;
    height: 100vh;
    background: linear-gradient(135deg, #41207f, #050215); 
    border: 2px solid grey;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .3s;
    z-index: 10; 
}

nav ul li a{
    font-size: 20px;
    display: block;
    margin: 100px;
}

ul li a{
    color: white;
}

.fit{
    display: flex;
    border: 1px solid rgb(68, 65, 65);
    border-radius: 5px;
    padding: 12px;
    padding-right: 200px;
    position: absolute;
    left: 15vh;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
} 

/* login signup link work on click - end */


.navbar{
    padding: 15px 100px 15px;
    position: absolute;
    right: 5vh;
    margin: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.navLink{
    color: white;
    background-color: #050215;
    list-style-type: none;
    text-decoration: none;
    font-size: 20px;
    margin-left: 50px;    
}

.navLink:hover{
    color: aquamarine;
}

.input-pic{
    height: 20vh;
    width: 100%;
}
  
.girl{
    height:200px;
    width:200px;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 0 0 100px black;
    position: absolute;
    right: 10vh;
    top: 65vh;
}

.man{
    height:220px;
    width:220px;
    border-radius: 50%;
    box-shadow: 0 0 100px black;
    border: 2px solid black;
    position: absolute;
    left: 10vh;
    top: 20vh;
}


/* weight height start */

.container {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    text-align: center;
} 

.input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40vh;
    padding: 50px 35px;
    border-radius: 12px; 
    background-color: rgba(255,255,255,0.13);
    border: 2px solid rgba(205, 183, 238, 0.73);
    box-shadow: 0 0 40px rgba(67, 64, 92, 0.6);
    width: 55%; 
    backdrop-filter: blur(10px); 
}

.input-box:hover {
    box-shadow: 0 0 20px #4d30c3;
}

.input-box input {
    width: 100%;
    padding: 15px; 
    color: white;
    margin: 20px 0; 
    font-size: 16px; 
    border: 2px solid #e2e1ea; 
    border-radius: 8px; 
    background: linear-gradient(135deg, #291353, #050215); 
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-box input:hover {
    transform: scale(1.01);
    box-shadow: 0 6px 15px rgba(80, 77, 77, 0.81);
}

.input-box button {
    padding: 12px 20px;
    font-size: 18px;
    background-color: rgb(255 255 255 0.13);
    background: linear-gradient(135deg, #8162ba, #4a36ae); 
    font-weight: 700;
    border: blue;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s ease;
}

.input-box button:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 15px rgba(80, 77, 77, 0.81);
}

/* weight height end */


/* sports exercise start */

.hidden {
    display: none;
}

.box{
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 12px; 
    background-color: rgba(255,255,255,0.13);
    border: 2px solid rgba(205, 183, 238, 0.73);
    box-shadow: 0 0 40px rgba(67, 64, 92, 0.6);
    backdrop-filter: blur(10px); 
    position:absolute;
    top: 40vh;
}

#boxsp{
   position:absolute;
   left: 45vh;
   padding: 90px 85px 90px;
}

#boxex{
    position:absolute;
    right: 45vh;
    padding: 90px 80px 90px;
}

.box:hover {
    transform: scale(1.08);
    box-shadow: 0 0 30px #5740b3;
}

/* sports exercise end */


/* clicking sports start*/

.sports-pic{
    width: 300px;
    height: 300px;
    border: 4px solid rgb(156, 50, 50);
    border-radius: 50%;
    position: fixed;
    left: 18vh;
    top:20vh;
    box-shadow: 0 0 100px black;
}

.sp-p{
   font-size: 20px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-weight: 900;
   font-variant: small-caps; 
   position: fixed;
   left: 5vh;
   top: 65vh;
}

.box2{
    border: 2px solid #043854;
    color: white;
    padding: 20px 300px 20px;
    margin-bottom: 20px;
    margin-left: 70vh;
    cursor: pointer;
    text-align: center;
    border-radius: 12px; 
    background-color: rgba(110, 0, 0, 0.13);
    border: 2px solid rgba(205, 183, 238, 0.73);
    box-shadow: 0 0 40px rgba(67, 64, 92, 0.6);
    backdrop-filter: blur(3px); 
}

.box2:hover {
    transform: scale(1.04);
    color: rgb(160, 243, 243);
    box-shadow: 0 6px 15px rgba(82, 71, 71, 0.5);
    background: linear-gradient(135deg, #3f2969, #2f13bb); 
}

/* clicking sports end*/



.sp-ex{
    font-size: 5vh;
    margin-left: 0;
    margin-bottom: 1.5vh;
}

.allbox{
    margin-top: 15vh;
}

.alloptions{
    margin: 20vh;
}

.box3rd{
    position:absolute;
    left: 30vh;
    padding: 90px 95px 90px;
 }
 
.box4th{
    position:absolute;
    left: 85vh;
    padding: 90px 80px 90px;
}

.box5th{
    position:absolute;
    left: 145vh;
    padding: 90px 85px 90px;
}

.box3rd,.box4th,.box5th{
    color: white;
    cursor: pointer;
    text-align: center;
    border-radius: 12px; 
    background-color: rgba(110, 0, 0, 0.13);
    border: 4px solid rgba(205, 183, 238, 0.73);
    box-shadow: 0 0 50px rgba(67, 64, 92, 0.6);
    backdrop-filter: blur(10px); 
}

.box3rd:hover{
    transform: scale(1.08);
    box-shadow: 0 0 30px #5740b3;
}

.box4th:hover{
    transform: scale(1.08);
    box-shadow: 0 0 30px #5740b3;
}

.box5th:hover{
    transform: scale(1.08);
    box-shadow: 0 0 30px #5740b3;
}

